img {
  width: 320px;
  height: fit-content;
  margin: auto;
}
body {
  background-color: lightskyblue;
  color: rgba(188, 29, 20, 0.995);
  font-style: italic;
  font-family: sans-serif;
  padding: 2%;
}
